svg.iconify {
  display: inline-flex;
  align-items: center;
  width: 16px;
  height: 16px;
  font-style: normal;
  line-height: 0;
  vertical-align: -3px;
  color: inherit;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.ant-btn > .iconify + span {
  margin-inline-start: 6px;
}
